    <footer style="border-top: solid 1px #eee; padding-top: 1em;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="text-muted">
              imagIne.io | &copy; Copyright 2020, All Rights Reserved
            </p>
            <p class="text-center">
              <i class="fab fa-twitter-square fa-2x text-primary"></i>
              <i class="fab fa-facebook-square fa-2x text-primary"></i>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/public/js/lib/jquery.min.js"></script>
    <script src="/public/js/app.js"></script>
  </body>
</html>
