<header class="mb-3 border-bottom p-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1><a class="text-decoration-none" href="/">imaGine.io</a></h1>
			</div>
			<div class="ml-auto">
				<a href="/signin" class="btn btn-success">Sign in</a> or
				<a href="/signup" class="btn btn-success">Sign up</a>
			</div>
		</div>
	</div>
</header>
