<header class="mb-3 border-bottom p-3">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1><a class="text-decoration-none" href="/">imaGine.io</a></h1>
			</div>
			{{#unless user }}
			<div class="ml-md-auto">
				<a href="/login" class="btn btn-sm btn-success">Sign in</a> or
				<a href="/signup" class="btn btn-sm btn-success">Sign up</a>
			</div>
			{{/unless }}
			{{#if user }}
			<div class="ml-auto">
				<a href="/logout" class="btn btn-sm btn-danger">Logout</a>
			</div>
			{{/if}}
		</div>
	</div>
</header>
