<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{#if title}}{{title}}{{else}}imagIne.io{{/if}}</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/fontawesome/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
</head>