<div class="card mb-4">
	<div class="card-header">
		<span class="font-weight-bold">
			Most popular
		</span>
	</div>
	<div class="card-body">
		{{#each sidebar.popular}}
		<div class="row px-2 mb-3">
			<a class="pull-left" href="/images/{{uniqueID}}">
				<img
					src="{{thumbnail url (dict 'h' 75)}}"
					style="width: 75px; height: 75px;"
					class="img-thumbnail"
			/></a>
			<div class="ml-3">
				<strong>{{ title}}</strong>
				<br />
				<small><em class="text-muted">{{ timeago timestamp }}</em></small>
			</div>
		</div>
		{{/each}}
	</div>
</div>
