<div class="card mb-4">
	<div class="card-header">
		<span class="font-weight-bold">
			Stats
		</span>
	</div>
	<div class="card-body">
		<div class="row px-3">
			<div class="col-6 col-md-8 text-left">Images:</div>
			<div class="col-6 col-md-4 text-right">{{ sidebar.stats.images }}</div>
		</div>
		<div class="row px-3">
			<div class="col-6 col-md-8 text-left">Comments:</div>
			<div class="col-6 col-md-4 text-right">{{ sidebar.stats.comments }}</div>
		</div>
		<div class="row px-3">
			<div class="col-6 col-md-8 text-left">Views:</div>
			<div class="col-6 col-md-4 text-right">{{ sidebar.stats.views }}</div>
		</div>
		<div class="row px-3">
			<div class="col-6 col-md-8 text-left">Likes:</div>
			<div class="col-6 col-md-4 text-right">{{ sidebar.stats.likes }}</div>
		</div>
	</div>
</div>
