{{#> base }}
<main class="container-lg">
  <div class="row">
    <div class="col-md-8">
      {{> @partial-block}}
    </div>
    <aside class="col-md-4">
      {{> stats this }} {{> popular this }} {{> comments this }}
    </aside>
  </div>
</main>
{{/base}}
