{{# extend "title"}} 404 - Not found {{/extend}}

<div class="container">
	<div class="error mx-auto text-center">
		<h1 class="error__title">404</h1>
		<p class="error__message">
			Oops, the content you requested is not found on this server,
			<a href="/">Go home</a>.
		</p>
	</div>
</div>
