* {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	padding: 50px;
	height: 100vh;

}

a {
	color: #00b7ff;
}

#sb-comments {
	padding-left: 0;
}

@media (max-width: 768px) {
	:root {
		font-size: 50%;
	}
}
